/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */
main {
	background: #FFB03B;
	color: #1E1E1E;
}

.icons-social a {
	color: #1E1E1E;
}

.icons-social a svg path{
	fill: #1E1E1E;
}

body{
	font-family: 'Reem Kufi', sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 400;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

.navbar {
	background-color: #FFB03B;
}
section {
	background: #FFF0A5;
	color: #1E1E1E;
}

#skills {
	font-size: 2.5em;
	font-weight: 400;
	padding-top: 30px;
}
.skillset {
	font-size: 5em;
	max-width: 65%;;
}

.logo {
	width: 1em;
	padding: 0;
}

.html {
	width: 2.4em;
}

.express {
	width: 1.5em;
}
.skillset img{
transition: 1s ease;
}

.skillset img:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
}
/*
.logo:hover {
	filter: grayscale(100%);
}*/